# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
1 - Iniciante/.vscode/launch.json
1 - Iniciante/.vscode/tasks.json
2-Ad-Hoc/.vscode/launch.json
2-Ad-Hoc/.vscode/tasks.json
3-Strings/.vscode/launch.json
3-Strings/.vscode/tasks.json
.vscode/launch.json
.vscode/launch.json
